<div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto">
	<!--begin::Logo-->
	<div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-10" id="kt_aside_logo">
		<a href="@Url.Action("Index", "Home")">
			<img alt="Logo" src="~/theme/demo7/dist/assets/media/logos/demo7.svg" class="h-35px" />
		</a>
	</div>
	<!--end::Logo-->
	<!--begin::Nav-->
	 
<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid w-100 pt-5 pt-lg-0" id="kt_aside_nav">
							<!--begin::Wrapper-->
		<div class="hover-scroll-overlay-y mb-5 px-5" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_nav" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-offset="0px">
			<!--begin::Nav-->
			<ul class="menu menu-rounded menu-column menu-gray-400 menu-state-bg fw-semibold" data-kt-menu="true"">
				<!--begin::Nav item-->
				<li class="nav-item mb-2"  data-kt-menu-placement="right-start"  data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" data-bs-dismiss="click"  title="Ana Sayfa">@*1.Menü*@
					<!--begin::Nav link-->
					<a  href="@Url.Action("Index", "Home")" class="btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light"  >
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#c7c7c7" d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>						<!--end::Svg Icon-->
						</span>
					</a>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------2.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start" data-bs-placement="right" data-bs-dismiss="click" title="Ürünler">
					<!--begin::Nav link-->
					<div class="btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light"  id="dropdownToggle2">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><path fill="#c8c9cb" d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192 32 192c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512L430 512c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32l-85.6 0L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192l-232.6 0L253.3 35.1zM192 304l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16zm128 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px" id="dropdownMenu2">
						<div class="menu-item">
							<span class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">ÜRÜN YÖNETİMİ</span>
							</span>
						</div>
						<a href="@Url.Action("Index", "Home")" class="menu-link px-1 py-3" id="menuLink2_1">
							<div class="separator my-2"></div>
							<div class="menu-item">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Satış Kayıtları</span>
							</div>
						</a>
						<a href="@Url.Action("ProductList", "Product")" class="menu-link px-1 py-3" id="menuLink2_2">
							<div class="separator my-2"></div>
							<div class="menu-item">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Ürün Listesi</span>
							</div>
						</a>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------3.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start" data-bs-placement="right" data-bs-dismiss="click" title="Maliyet Yönetimi">
					<!--begin::Nav link-->
					<div class="btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light"  id="dropdownToggle3">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="10.5" viewBox="0 0 384 512"><path fill="#c8c9cb" d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-384c0-35.3-28.7-64-64-64L64 0zM96 64l192 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L96 160c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px" id="dropdownMenu3">
						<div class="menu-item">
							<span class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">Detay</span>
							</span>
						</div>
						<a href="@Url.Action("Index2", "Home")" class="menu-link px-1 py-3" id="menuLink3">
							<div class="separator my-2"></div>
							<div class="menu-item">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Detays</span>
							</div>
						</a>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------4.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start">
					<!--begin::Nav link-->
					<a class="nav-link btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" data-bs-dismiss="click" title="Görevler">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><path fill="#c8c9cb" d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32l288 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</a>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px">
							<div class="menu-item">
							<span href="#" class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">Detay</span>
							</span>
							</div>
						<div class="separator my-2"></div>
						<div class="menu-item">
								<a href="#" class="menu-link px-1 py-3">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Detays</span>
								</a>
						</div>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------5.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start">
					<!--begin::Nav link-->
					<a class="nav-link btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" data-bs-dismiss="click" title="Dokümanlar">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><path fill="#c8c9cb" d="M384 480l48 0c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224l-400 0c-11.4 0-21.9 6-27.6 15.9L48 357.1 48 96c0-8.8 7.2-16 16-16l117.5 0c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8L416 144c8.8 0 16 7.2 16 16l0 32 48 0 0-32c0-35.3-28.7-64-64-64L298.5 96c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l23.7 0L384 480z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</a>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px">
							<div class="menu-item">
							<span href="#" class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">Detay</span>
							</span>
							</div>
						<div class="separator my-2"></div>
						<div class="menu-item">
								<a href="#" class="menu-link px-1 py-3">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Detays</span>
								</a>
						</div>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------6.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start">
					<!--begin::Nav link-->
					<a class="nav-link btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" data-bs-dismiss="click" title="Ana Sayfa">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="10.5" viewBox="0 0 384 512"><path fill="#c8c9cb" d="M40.1 467.1l-11.2 9c-3.2 2.5-7.1 3.9-11.1 3.9C8 480 0 472 0 462.2L0 192C0 86 86 0 192 0S384 86 384 192l0 270.2c0 9.8-8 17.8-17.8 17.8c-4 0-7.9-1.4-11.1-3.9l-11.2-9c-13.4-10.7-32.8-9-44.1 3.9L269.3 506c-3.3 3.8-8.2 6-13.3 6s-9.9-2.2-13.3-6l-26.6-30.5c-12.7-14.6-35.4-14.6-48.2 0L141.3 506c-3.3 3.8-8.2 6-13.3 6s-9.9-2.2-13.3-6L84.2 471c-11.3-12.9-30.7-14.6-44.1-3.9zM160 192a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</a>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px">
							<div class="menu-item">
							<span href="#" class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">Detay</span>
							</span>
							</div>
						<div class="separator my-2"></div>
						<div class="menu-item">
								<a href="#" class="menu-link px-1 py-3">
									<span class="menu-bullet mr-3 text-gray-800">
										<span class="las la-chevron-right"></span>
									</span>
									<span class="menu-title">Detays</span>
								</a>
						</div>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------7.Menü*@
				<li class="nav-item mb-2" data-kt-menu-trigger="click" data-kt-menu-placement="right-start" data-bs-placement="right" data-bs-dismiss="click" title="Sistem">
					<!--begin::Nav link-->
					<div class="btn btn-icon btn-active-color-primary btn-color-gray-400 btn-active-light" id="dropdownToggle7">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-2x">
							<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><path fill="#d1d1d2" d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" /></svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<div class="menu-sub menu-sub-dropdown p-3 w-300px" id="dropdownMenu2">
						<div class="menu-item">
							<span class="px-1 py-3">
								<span class="text-primary pb-2 px-3 fs-7 text-uppercase">SİSTEM YÖNETİMİ</span>
							</span>
						</div>
						<a href="@Url.Action("StringGroupList", "System")" class="menu-link px-1 py-3" id="menuLink7_1">
							<div class="separator my-2"></div>
							<div class="menu-item">
								<span class="menu-bullet mr-3 text-gray-800">
									<span class="las la-chevron-right"></span>
								</span>
								<span class="menu-title">Grup Listesi</span>
							</div>
						</a>
					</div>
					<!--end::Nav link-->
				</li>
				@*------------------------------------------------------------3.Menü*@
									
				<!--end::Nav item-->
			</ul>
			<!--end::Tabs-->
		</div>
		<!--end::Nav-->
	</div>
	<!--end::Nav-->
	<!--begin::Footer-->
	<div class="aside-footer d-flex flex-column align-items-center flex-column-auto" id="kt_aside_footer">

		<!--begin::User-->
		<div class="d-flex align-items-center mb-10" id="kt_header_user_menu_toggle">
			<!--begin::Menu wrapper-->
			<div class="cursor-pointer symbol symbol-40px" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="top-start" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-dismiss="click" title="User profile">
				<img src="~/theme/demo7/dist/assets/media/avatars/300-1.jpg" alt="image" />
			</div>
			<!--begin::User account menu-->
			<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<div class="menu-content d-flex align-items-center px-3">
						<!--begin::Avatar-->
						@*<div class="symbol symbol-50px me-5">
						<img alt="Logo" src="~/theme/demo7/dist/assets/media/avatars/300-1.jpg" />
						</div>*@
						<!--end::Avatar-->
						<!--begin::Username-->
						<div class="d-flex flex-column">
							<div class="fw-bold d-flex align-items-center fs-5">
								Alkan Şimşek
								<span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
							</div>
							<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">max@kt.com</a>
						</div>
						<!--end::Username-->
					</div>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu separator-->
				<div class="separator my-2"></div>
				<!--end::Menu separator-->
				<!--begin::Menu item-->
				<div class="menu-item px-5">
					<a href="~/theme/demo7/dist/account/overview.html" class="menu-link px-5">My Profile</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				@*<div class="menu-item px-5">
				<a href="~/theme/demo7/dist/apps/projects/list.html" class="menu-link px-5">
				<span class="menu-text">My Projects</span>
				<span class="menu-badge">
				<span class="badge badge-light-danger badge-circle fw-bold fs-7">3</span>
				</span>
				</a>
				</div>*@
				<!--end::Menu item-->
				<!--begin::Menu item-->
				@*<div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-end">
				<a href="#" class="menu-link px-5">
				<span class="menu-title">My Subscription</span>
				<span class="menu-arrow"></span>
				</a>
				<!--begin::Menu sub-->
				<div class="menu-sub menu-sub-dropdown w-175px py-4">
				<!--begin::Menu item-->
				<div class="menu-item px-3">
				<a href="~/theme/demo7/dist/account/referrals.html" class="menu-link px-5">Referrals</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
				<a href="~/theme/demo7/dist/account/billing.html" class="menu-link px-5">Billing</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
				<a href="~/theme/demo7/dist/account/statements.html" class="menu-link px-5">Payments</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
				<a href="~/theme/demo7/dist/account/statements.html" class="menu-link d-flex flex-stack px-5">
				Statements
				<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="View your statements"></i>
				</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu separator-->
				<div class="separator my-2"></div>
				<!--end::Menu separator-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
				<div class="menu-content px-3">
				<label class="form-check form-switch form-check-custom form-check-solid">
				<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
				<span class="form-check-label text-muted fs-7">Notifications</span>
				</label>
				</div>
				</div>
				<!--end::Menu item-->
				</div>
				<!--end::Menu sub-->
				</div>*@
				<!--end::Menu item-->
				<!--begin::Menu item-->
				@*<div class="menu-item px-5">
				<a href="~/theme/demo7/dist/account/statements.html" class="menu-link px-5">My Statements</a>
				</div>*@
				<!--end::Menu item-->
				<!--begin::Menu separator-->
				<div class="separator my-2"></div>
				<!--end::Menu separator-->
				<!--begin::Menu item-->
				@*<div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-end">
					<a href="#" class="menu-link px-5">
						<span class="menu-title position-relative">
							Language
							<span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
								English
								<img class="w-15px h-15px rounded-1 ms-2" src="~/theme/demo7/dist/~/theme/demo7/dist/assets/media/flags/united-states.svg" alt="" />
							</span>
						</span>
					</a>
					<!--begin::Menu sub-->
					<div class="menu-sub menu-sub-dropdown w-175px py-4">
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="~/theme/demo7/dist/account/settings.html" class="menu-link d-flex px-5 active">
								<span class="symbol symbol-20px me-4">
									<img class="rounded-1" src="~/theme/demo7/dist/assets/media/flags/united-states.svg" alt="" />
								</span>English
							</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="~/theme/demo7/dist/account/settings.html" class="menu-link d-flex px-5">
								<span class="symbol symbol-20px me-4">
									<img class="rounded-1" src="~/theme/demo7/dist/assets/media/flags/germany.svg" alt="" />
								</span>German
							</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="~/theme/demo7/dist/account/settings.html" class="menu-link d-flex px-5">
								<span class="symbol symbol-20px me-4">
									<img class="rounded-1" src="~/theme/demo7/dist/assets/media/flags/japan.svg" alt="" />
								</span>Japanese
							</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="~/theme/demo7/dist/account/settings.html" class="menu-link d-flex px-5">
								<span class="symbol symbol-20px me-4">
									<img class="rounded-1" src="~/theme/demo7/dist/assets/media/flags/france.svg" alt="" />
								</span>French
							</a>
						</div>
						<!--end::Menu item-->
					</div>
					<!--end::Menu sub-->
				</div>*@

				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-5 my-1">
					<a href="~/theme/demo7/dist/account/settings.html" class="menu-link px-5">Account Settings</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-5">
					<a href="~/theme/demo7/dist/authentication/flows/basic/sign-in.html" class="menu-link px-5">Sign Out</a>
				</div>
				<!--end::Menu item-->
			</div>
			<!--end::User account menu-->
			<!--end::Menu wrapper-->
		</div>
		<!--end::User-->
	</div>
	<!--end::Footer-->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
    // Dropdown menüsünü açma
    $('#dropdownToggle2').click(function() {
        $('#dropdownMenu2').toggle(); // Menü açma / kapama
    });
	$('#dropdownToggle3').click(function() {
        $('#dropdownMenu3').toggle(); // Menü açma / kapama
    });
	$('#dropdownToggle7').click(function() {
        $('#dropdownMenu7').toggle(); // Menü açma / kapama
    });

	//Menu-2
    // Yönlendirme için link tıklama
    $('#menuLink2_1').click(function(event) {
        event.stopPropagation(); // Menü kapanmasını engelle
        // Yönlendirmeyi gerçekleştir
        window.location.href = $(this).attr('href');
    });
	$('#menuLink2_2').click(function(event) {
        event.stopPropagation(); // Menü kapanmasını engelle
        // Yönlendirmeyi gerçekleştir
        window.location.href = $(this).attr('href');
    });

	//Menu-3
	// Yönlendirme için link tıklama
    $('#menuLink3').click(function(event) {
        event.stopPropagation(); // Menü kapanmasını engelle
        // Yönlendirmeyi gerçekleştir
        window.location.href = $(this).attr('href');
    });
	
	//Menu-7
	// Yönlendirme için link tıklama
    $('#menuLink7_1').click(function(event) {
        event.stopPropagation(); // Menü kapanmasını engelle
        // Yönlendirmeyi gerçekleştir
        window.location.href = $(this).attr('href');
    });
});
	</script>
